@using CV_MVC.Models.Entity
@model List<TBLCONTACT>

<div class="resume-section-content">
    <h2 class="mb-5">Contact</h2>

    <label>Name Surname</label>
    <input type="text" class="form-control" />

    <label>Email</label>
    <input type="text" class="form-control" />

    <label>Subject</label>
    <input type="text" class="form-control" />

    <label>Message</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn-info">Send Message</button>
</div>
