
<div class="resume-section-content">

    <form method="post">
        <h2 class="mb-5">Contact</h2>

        <label>Name Surname</label>
        <input type="text" class="form-control" name="NameSurname"/>

        <label>Email</label>
        <input type="text" class="form-control" name="Email"/>

        <label>Subject</label>
        <input type="text" class="form-control" name="Subject"/>

        <label>Message</label>
        <input type="text" class="form-control" name="Message"/>
        <br />
        <button class="btn-info">Send Message</button>
    </form>
</div>
