@using CV_MVC.Models.Entity
@model List<TBLEXPERIENCE>


<div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    @foreach(var item in Model){
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@item.Header</h3>
                <div class="subheading mb-3">@item.SubHeader</div>
                <p>@item.Details</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
        </div>
    }
</div>


