
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h3>Add New Skill </h3>
<br />
<form method="post">

    <input type="text" name="Skill" class="form-control"
           placeholder="Skill..." />
    <br />
    <input type="text" name="Percentage" class="form-control"
           placeholder="Percentage..." />
    <br />
    
    <a href="/Skill/Index" class="btn btn-warning">Previous Page </a>
    <button class="btn btn-success"> Save </button>

</form>
<br />
