@model CV_MVC.Models.Entity.TBLSKILL
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h3>Add New Skill </h3>
<br />
<form method="post">

    <input type="text" name="Skill" class="form-control"
           placeholder="Skill..." />
    @Html.ValidationMessageFor(x => x.Skill, "", new { @style = "color:red" })
    <br />
    <input type="text" name="Percentage" class="form-control"
           placeholder="Percentage..." />
    @Html.ValidationMessageFor(x => x.Percentage, "", new { @style = "color:red" })

    <br />

    <a href="/Skill/Index" class="btn btn-warning">Previous Page </a>
    <button class="btn btn-success"> Save </button>

</form>
<br />