
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Menu</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Temur</td>
        <td>Tbilisi</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Xavi</td>
        <td>Barcelona</td>
    </tr>
</table>

